# --- PyInstaller / Build Artifacts ---
build/
dist/
*.spec


# --- Python temporary files ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
venv/
.venv/
env/

# --- IDE specific ---
.vscode/
.idea/

*.png
*.csv
*.csv
